*,::after,::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #f5f6fa; 
}

.app
{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.app__header
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 20px;
}

.app__left
{
    flex:0.9;
}


.app__stats
{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


.app__stats>.infoBox
{
    border-radius:7px;
    box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.26);
}


@media screen and (max-width:913px)
{
    .app
    {
        flex-direction:column;
    }

    .app__header
    {
        font-size:0.7rem;
    }

    .app__right
    {
        display: flex;
        flex-flow: column wrap;
    }

}

