.map
{
    height:500px;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.map>:nth-child(1)
{
    height: 100%;
}
