.map
{
    height:500px;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4p rgba(0, 0, 0,.0.5);
}

.map>:nth-child(1)
{
    height: inherit;
}
