.table
{
    overflow: scroll;
    height: 25rem;
    margin-top: 20px;
    font-weight:500;
    color: rgb(83, 82, 82);
    background-color: white;
}

.table>table 
{
  width: 100%;
}

.table tr
{
    display: flex;
    justify-content: space-between;
    padding:15px;
    width: 100%;
}

.table tr:nth-of-type(odd)
{
    background-color: #f3f2f8;
}


