.table
{
    overflow: scroll;
    height: 25rem;
    margin-top: 20px;
    font-weight:500;
    color: rgb(83, 82, 82);
    background-color: white;
}

.table tr
{
    display: flex;
    justify-content: space-between;
    padding:15px;
}

.table tr:nth-of-type(odd)
{
    background-color: #f3f2f8;
}

@media screen and (max-width:913px)
{
   .table>table
   {
      width:100%;
   }
   
}